@mixin colorBtn($palettes) {
  @each $key, $value in $palettes {
    &__#{$key} {
      max-width: 170px;
      margin-right: 20px;
      padding: 0;
      @media screen and (max-width: 575px) {
        max-width: calc(100% - 30px);
        width: 100%;
        margin-bottom: 10px;
        margin-left: 10px;
        margin-right: 10px;
      }

      &.active {
        max-width: initial;

        @media screen and (max-width: 575px) {
          max-width: calc(100% - 30px);
        }
      }

      ##{$key}-filter--button, ##{$key}-filter--input {
        padding: 23px 0 24px 19px;
        border: 0;
        background: map-get($palettes, $key);
        color: white;
      }

      .dropdown-menu {
        background: map-get($palettes, $key);

        span {
          color: white;
        }
      }

      @if($key == 'ustensils') {
        margin-right: 0;
      }
    }
  }
}


@mixin colorFilter($palettes) {
  @each $key, $value in $palettes {
    &__#{$key} {
      background: map-get($palettes, $key);
      color: white;
    }
  }
}